.artist-photos,
.artist-bio {
    min-height: 420px;
    max-height: 420px;
}

.artist-bio {
    padding: 0px 50px;
}

.bio-title {
    margin-top: 0px;
}

.bio-title label {
    font-weight: normal;
}

.info-table {
    margin-bottom: 0px;
}

.form-edit input,
.form-edit textarea {
    background: #3f2e2e;
    color: #ffffff;
    font-weight: normal;
}

.form-edit .alert {
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.form-edit .form-group {
    margin-right: 0px;
}

.img-upload input {
    border: none;
}

.details-logo {
    width: 300px;
    margin-top: -20px;
}

.details-cover,
.details-photo {
    width: 500px;
}

.details-photo {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.success-msg {
    display: none;
}