.artist-bio {
    padding: 0px 50px;
    height: 400px;
}

.bio-title {
    margin-top: 0px;
}

.bio-title label {
    font-weight: normal;
}

.table-info {
    margin-bottom: 0px;
}

.form-edit input,
.form-edit textarea {
    background: #3f2e2e;
    color: #ffffff;
}

.form-edit .alert {
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.form-edit .form-group {
    margin-right: 0px;
}

.form-edit .table-info th,
.form-edit .table-info td {
    padding: 0px;
}

.img-upload input {
    border: none;
}

#detailsLogo {
    margin: 20px 0px;
}

.details-logo {
    width: 300px;
    max-height: 120px;
}

.details-cover {
    width: 400px;
    max-height: 400px;
}

.details-photo {
    width: 500px;
    max-height: 300px;
}

#successMsg {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 50px;
}

#addArtistMain {
    margin-bottom: 0px;
}

#saveBtns {
    position: absolute;
    right: 50px;
    bottom: 80px;
}