/*
Colors

**Background**
* color 1: #958888 (side background)
* color 2: #3f2e2e (container background)

**Text**
* color 1: #ffffff (main)
* color 2: #ad00ff (btn-info)

*/

.overflow {
    overflow: auto;
}

html,
body,
#container {
    height: 100%;
}

html, body {
    overflow: hidden;
}

body {
    background: #958888;
}

#container {
    overflow: auto;
}

#main {
    position: relative;
    min-height: 765px;
}

legend {
    color: white;
}

legend span {
    margin-left: -10px;
}

.i {
    font-style: italic;
}

#container {
    background: #3f2e2e;
    color: #ffffff;
}

#noAccount {
    margin-top: 30px;
    font-size: 1.2em;
}

#signupForm label,
#loginForm label {
    text-align: left;
    color: white;
}

#navbarMsg {
    margin-right: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.letter-navbar ul {
    margin: 0px;
}

.record,
.artist {
    margin: 20px 0px;
}

.record figcaption,
.artist figcaption {
    margin-top: 8px;
}

.record img {
    width: 170px;
}

.artist img {
    background: #3f2e2e;
    border: none;
}

.artist {
    width: 270px;
    height: 150px;
    position: relative;
}

.artist figure {
    position: absolute;
    bottom: 0px;
}

.sortlist th[data-sort]:hover {
    text-decoration: underline;
    cursor: pointer;
}

#loading {
    display: none;
}

.glyphicon-lg {
    font-size: 2em;
}

.glyphicon-remove {
    color: #d9534f;
}

.glyphicon-pencil {
    color: #5cb85c;
}

.btn-info {
    color: #ad00ff;
}

.form-update input,
.form-update select,
.form-update textarea,
.form-update-new {
    display: none;
}