html,
body,
#container {
    height: 100%;
    /* overflow: auto; */
}

html, body {
    overflow: hidden;
}

#container {
    overflow: auto;
}

body {
    background: #958888;
}

legend {
    color: white;
}

legend span {
    margin-left: -10px;
}

#container {
    background: #3f2e2e;
    color: #ffffff;
}

#noAccount {
    margin-top: 30px;
    font-size: 1.2em;
}

#signupForm label,
#loginForm label {
    text-align: left;
    color: white;
}

#navbarMsg {
    margin-right: 20px;
}

.letter-navbar ul {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
}

.record,
.artist {
    margin: 20px 0px;
}

.record figcaption,
.artist figcaption {
    margin-top: 8px;
}

.record img {
    width: 200px;
}

.artist img {
    background: #3f2e2e;
    border: none;
}

.artist {
    width: 270px;
    height: 150px;
    position: relative;
}

.artist figure {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0px;
}
