/*
Colors

**color 1: #958888
  (side background)
**color 2: #3f2e2e
  (container background)
**color 3: #ffffff
  (text)

*/

.overflow {
    overflow: auto;
}

html,
body,
#container {
    height: 100%;
}

html, body {
    overflow: hidden;
}

#container {
    overflow: auto;
}

body {
    background: #958888;
}

legend {
    color: white;
}

legend span {
    margin-left: -10px;
}

#container {
    background: #3f2e2e;
    color: #ffffff;
}

#noAccount {
    margin-top: 30px;
    font-size: 1.2em;
}

#signupForm label,
#loginForm label {
    text-align: left;
    color: white;
}

#navbarMsg {
    margin-right: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.letter-navbar ul {
    text-transform: uppercase;
    margin: 0px;
}

.record,
.artist {
    margin: 20px 0px;
}

.record figcaption,
.artist figcaption {
    margin-top: 8px;
}

.record img {
    width: 200px;
}

.artist img {
    background: #3f2e2e;
    border: none;
}

.artist {
    width: 270px;
    height: 150px;
    position: relative;
}

.artist figure {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0px;
}

.artist-bio {
    padding: 0px 50px 50px 50px;
}

.artist-bio .title {
    margin-top: 0px;
}

.sortlist th:not(.non-sortable):hover {
    text-decoration: underline;
    cursor: pointer;
}

#loading {
    display: none;
}

.form-horizontal {
    padding: 0px 15px;
}

.form-add input,
.form-add textarea,
.placeholder {
    background: #3f2e2e;
    color: #ffffff;
    font-weight: normal;
}

/*
.form-add input:not([type="file"]) {
    border: 2px solid #ffffff;
}
*/

#add-artist {
    margin-right: 110px;
}

.img-cover,
.img-photo {
    width: 500px;
}

.img-logo {
    width: 300px;
}

.img-upload {
    margin: 46px;
}

.img-upload:last-of-type {
    padding-bottom: 92px;
}